<a href="https://colab.research.google.com/github/alizadangi02/Python/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Lists – Fundamental Operations**


Write a Python program to:

● Create a list of 5 favorite fruits.

● Add one new fruit at the end using .append().

● Insert a fruit at index 2 using .insert().

● Remove one fruit using .remove().

● Display the updated list.

In [7]:
fruits = ['apple', 'mango', 'strawberry', 'avocado', 'kiwi']

fruits.append('banana')
fruits.insert(2, 'dragonfruit')
fruits.remove('mango')

print("Fruits: ", fruits)

Fruits:  ['apple', 'dragonfruit', 'strawberry', 'avocado', 'kiwi', 'banana']

**Lists – Indexing & Slicing**

Given a list: numbers = [10, 20, 30, 40, 50, 60]

● Print the first element using positive indexing.

● Print the last element using negative indexing.

● Print the elements from index 2 to 4 using slicing.

● Print the last 3 elements using slicing.

In [14]:
num = [10, 20, 30, 40, 50, 60]

print("First element:", num[0])
print("First element:", num[-1])

print("Elements from index 2 to 4:", num[2:5])
print("Last three elements:", num[-3:])

First element: 10
First element: 60
Elements from index 2 to 4: [30, 40, 50]
Last three elements: [40, 50, 60]

**Lists – Looping & Conditions**

Write a program that:

● Asks the user to input 5 integers.

● Stores them in a list.

● Prints only the even numbers from the list using a loop and an if condition.

In [24]:
numbers = []
for i in range(1, 6):
    num = int(input(f"Enter number {i}: "))
    numbers.append(num)

print("\nList:", numbers)

print("\nEven numbers:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Enter number 1: 1
Enter number 2: 3
Enter number 3: 45
Enter number 4: 56
Enter number 5: 66

List: [1, 3, 45, 56, 66]

Even numbers:
56
66

**List Methods & Sorting**

Write a Python program that:

● Creates a list of random numbers.

● Sorts it in ascending order using .sort().

● Sorts it in descending order using .sort(reverse=True).

In [27]:
import random

numbers = [random.randint(1, 100) for numbers in range(6)]
print("Original list:", numbers)

numbers.sort()
print("\nSorted in ascending order:", numbers)

numbers.sort(reverse=True)
print("\nSorted in descending order:", numbers)

Original list: [75, 26, 27, 90, 30, 24]

Sorted in ascending order: [24, 26, 27, 30, 75, 90]

Sorted in descending order: [90, 75, 30, 27, 26, 24]

5. **List Comprehension with Conditions**

Write a Python one-liner list comprehension that:

● Creates a new list containing squares of even numbers from the list [1, 2, 3,
4, 5, 6, 7, 8, 9, 10].

In [28]:
squares_of_even = [x**2 for x in [1,2,3,4,5,6,7,8,9,10] if x % 2 == 0]
print(squares_of_even)

[4, 16, 36, 64, 100]

**Tuples – Operations & Comparison with Lists**

● Create a tuple of 5 colors.

● Try adding one new color to the tuple. What happens? (Explain why.)

● Convert the tuple to a list, add a new color, and convert it back to a tuple

In [33]:
colors = ("Red", "Green", "Blue", "Yellow", "Orange")
print("Original tuple:", colors)

# colors.append("Purple")   #shows error as tuple is immutable.

colors_list = list(colors)

colors_list.append("Purple")
print("\nList after adding a color:", colors_list)

colors = tuple(colors_list)
print("New tuple:", colors)

Original tuple: ('Red', 'Green', 'Blue', 'Yellow', 'Orange')

TypeError: 'list' object is not callable

**7. Tuple Unpacking**

Given the tuple: student = ("John", 20, "Computer Science")

● Unpack the tuple into three variables: name, age, and course.

● Print them in the format:

Name: John, Age: 20, Course: Computer Science

In [35]:
student = ("John", 20, "Computer Science")

name, age, course = student

print(f"Name: {name}, Age: {age}, Course: {course}")

Name: John, Age: 20, Course: Computer Science

8.** Sets – Operations**

Given two sets: A = {1, 2, 3, 4}, B = {3, 4, 5, 6}

● Find the union of A and B.

● Find the intersection of A and B.

● Find the difference A - B and B - A.

● Add 7 to set A and remove 2 from set B

In [36]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

union_set = A | B
print("Union of A and B:", union_set)

intersection_set = A & B
print("Intersection of A and B:", intersection_set)

diff_A_B = A - B
diff_B_A = B - A
print("Difference A - B:", diff_A_B)
print("Difference B - A:", diff_B_A)

A.add(7)
print("Set A after adding 7:", A)

B.discard(2)
print("Set B after removing 2:", B)

Union of A and B: {1, 2, 3, 4, 5, 6}
Intersection of A and B: {3, 4}
Difference A - B: {1, 2}
Difference B - A: {5, 6}
Set A after adding 7: {1, 2, 3, 4, 7}
Set B after removing 2: {3, 4, 5, 6}

**9. Dictionaries – Nested & Comprehension**

Create a nested dictionary of 3 students, where each student has:

● name

● age

● grade

Example:

students = {

 1: {"name": "Alice", "age": 20, "grade": "A"},

 ...

}

Print the names of students whose grade is "A" using a dictionary comprehension.

In [39]:
students = {
    1: {"name": "pranisha", "age": 20, "grade": "A"},
    2: {"name": "manvika", "age": 19, "grade": "A"},
    3: {"name": "aliza", "age": 21, "grade": "B"}
}

grade_A_students = {k: v for k, v in students.items() if v["grade"] == "A"}
print([v["name"] for v in grade_A_students.values()])

['pranisha', 'manvika']